body {
  box-sizing: border-box;
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: rgb(255, 255, 255);
}
p {font-size: 18px;}
.margin {
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
.bg-1 { 
   background-color: #1abc9c;
   color: #f9fcf7;
}
.bg-2 { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 40px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #0fda3b !important;
}

.portfolio {
  background-color:#0ba8a8;
  color: rgb(255, 255, 255)
  }

.portfolio__card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__title {
  font-size: 2em;
  letter-spacing: 2px;
  padding: 0.5em 0;
  margin-bottom: 1em;
  text-align: center;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 275px;
  margin-bottom: 2em;
}

#pci__one:hover {
  opacity: .9;
}

.portfolio__card__desc {
  font-family: "Montserrat", sans-serif;
  font-size: 0.2em;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 1em;
  text-align: center;
  
}

.portfolio__card__links {
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  padding: 0.75em 0;
  justify-content: space-evenly;
  width: 275px;
}

p {
  margin: 12px 24px 0px;
}

.portfolio svg {
  width: 60px;
  height: 60px;
  transition: fill 0.5s;
}

footer {
  padding-top: 0em;
  padding-left: 32%;
  padding-right: 30%;
  padding-bottom: 0em;
  background-color: #f5f6f7;
}

.footer__nav {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: -42px;
  margin-right: 51px;
}

.footer__nav__item {
  width: 0px;
  height: 80px;
  padding: 1em;
}

.footer__nav__item a {
  fill: #0ba8a8;
  width: 0px;
  height: 80px;
  transition: fill 0.5s;
}
.footer__nav__item a:hover {
  fill: #623d61;
}

.footer__logo {
  color: #0ba8a8;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 6px;
    text-align: center;
    margin: 1.25em;
    padding-left: 8px;
}

.footer__logo a {
  color: #0ba8a8;
  text-decoration: none;
}



